<div class="row" [hidden]="!adminLogado">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3" ><a class="active" href="#cadastro">Cadastro</a></li>
      <li class="tab col s3"><a href="#notificacao">Notificações</a></li>
      <li class="tab col s3"><a href="#lista">Lista de estabelecimentos</a></li>
      <li class="tab col s3"><a href="#sorteios">Sorteios</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <!--Tela de login do admin-->
  <form [formGroup]="form" [hidden]="adminLogado" class="col l4 offset-l4 m10 offset-m1 s12" (ngSubmit)="login()" >
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" autofocus id="email" name="email" class="validate" formControlName="email" >
        <label for="email">Digite o email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 input-field">
        <input type="password" id="senha" class="validate" formControlName="senha" >
        <label for="senha">Digite sua senha</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <button type="submit" class="btn btn-waves" style="width:100%" [disabled]="form.invalid"  >Login</button>
      </div>
    </div>
  </form>
</div>

<div class="row" *ngIf="adminLogado">
  <!--Tab de cadastro-->
  <div class="col l4 offset-l4 m10 offset-m1 s12" id="cadastro">
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmitCadastro()" >
      <div class="row">
        <div class="col s12 input-field">
          <input type="email" autofocus id="email" name="email" class="validate" formControlName="email" >
          <label for="email">Digite o email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="nome" name="nome" class="validate" formControlName="nome" >
          <label for="nome">Nome do estabelecimento</label>
        </div>
      </div>
      <div class="row">
        <label>Categoria</label>
        <select class="col s12 input-field browser-default" formControlName="categoria" >
          <option value="" disabled selected>Selecione a categoria</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.key">{{categoria.nome}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="checkbox" id="imagemAdicional" formControlName="imagemAdicional" />
          <label for="imagemAdicional">Imagem Adicional?</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="checkbox" id="slides" formControlName="slides" />
          <label for="slides">Slides?</label>
        </div>
      </div>
      <div class="row">
        <input [disabled]="formCadastro.invalid" class="col s12 m8 offset-m2 l4 offset-l4 btn btn-waves" type="submit" />
      </div>
    </form>
  </div>
  <!--Tab de notificação-->
  <div class="col l4 offset-l4 m10 offset-m1 s12" id="notificacao">
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" [(ngModel)]="corpoNotificacao" autofocus id="notificacao_corpo" name="notificacao_corpo" class="validate">
        <label for="notificacao_corpo">Digite o corpo da notificação</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <button (click)="enviarNotificacao()" class="btn btn-waves" style="width:100%">Enviar</button>
      </div>
    </div>
  </div>

  <!--Tab da lista de Estabelecimentos-->
  <div class="col l6 offset-l3 m10 offset-m1 s12" id="lista">
    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <a style="cursor: pointer;" *ngFor="let categoria of categorias" (click)="selectCategoria(categoria)" class="collection-item">{{categoria.nome}}</a>
        </ul>
        <ul class="collection with-header">
          <li class="collection-header"><h4>{{categoriaSelecionada?.nome}}</h4></li>
          <li class="collection-item" *ngFor="let estabelecimento of estabelecimentosCategoria">
            <a style="cursor: pointer;" (click)="onSelectEstabelecimento(estabelecimento)">{{estabelecimento.nome}}</a>
            <div class="secondary-content">
                <div class="switch">
                  <label>
                    Desabilitado
                    <input [checked]="estabelecimento.ativado" (click)="habilitarEstabelecimento(estabelecimento, $event)" type="checkbox">
                    <span class="lever"></span>
                    Habilitado
                  </label>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col l8 offset-l2 m10 offset-m1 s12" id="sorteios">
    <div class="row">
      <div class="col s12">
        <ul class="collection" *ngIf="sorteios.length > 0">
          <li class="collection-item avatar" *ngFor="let sorteio of sorteios" >
            <img [src]="sorteio.imagem" class="circle">
            <span class="title">{{sorteio.titulo}}</span>
            <p>Estabelecimento: {{sorteio.estabelecimentoNome}}</p>
            <p>Data do sorteio:{{sorteio.data | date}} </p>
            <p *ngIf="sorteio.ganhador?.nome" ><b>Ganhador: {{sorteio.ganhador.nome}}</b></p>
            <button style="margin-right: 160px" class="btn waves-effect waves-light green secondary-content" [disabled]="sorteio.sortear" (click)="realizarSorteio(sorteio)" >Sortear</button>
            <button style="margin-bottom: 5px" class="left btn waves-effect waves-light red secondary-content" [disabled]="sorteio.sortear" (click)="deletarSorteio(sorteio)" >Deletar</button>
          </li>
        </ul>
      </div>
    </div>
      <div class="fixed-action-btn">
        <a class="btn-floating right btn-large waves-effect waves-light red" (click)="addSorteio()"><i class="material-icons">add</i></a>
      </div>
  </div>

</div>

<div id="modal-sorteio" class="modal">
  <div class="modal-content">
    <form [formGroup]="formSorteio" (ngSubmit)="onSubmitSorteio()" >
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="titulo" name="titulo" class="validate" formControlName="titulo" >
          <label for="titulo">Título</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <textarea autofocus id="texto" name="texto" class="validate" formControlName="texto" class="materialize-textarea" ></textarea>
          <label for="texto">Digite o corpo do texto do sorteio</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="linkInstagram" name="linkInstagram" class="validate" formControlName="linkInstagram" >
          <label for="linkInstagram">Link do instagram</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="text" placeholder="Data do sorteio" class="datepicker">
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="nome_estabelecimento" name="nome_estabelecimento" class="validate" (keyup)="filtraEstabelecimentos($event)" >
          <label for="nome_estabelecimento">Pesquise o nome do estabelecimento</label>
        </div>
      </div>
      <div class="row">
        <label>Estabelecimentos</label>
        <select class="col s12 input-field browser-default" formControlName="estabelecimentoKey" >
          <option value="" disabled selected>Selecione o estabelecimento</option>
          <option *ngFor="let estabelecimento of estabelecimentosFiltrados" [value]="estabelecimento.key">{{estabelecimento.nome}}</option>
        </select>
      </div>
      <div class="row">
        <img class="col m3 s12" (click)="console()" [src]="imagemSorteio? pathImagemSorteio: 'assets/imgs/no-photo.png'">
        <div class="file-field input-field col m9 s12">
          <div class="btn">
            <span>imagem</span>
            <input type="file" (change)="uploadFileSorteio($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <input [disabled]="formSorteio.invalid || !imagemSorteio" class="col s12 m8 offset-m2 l4 offset-l4 btn btn-waves" type="submit" />
      </div>
    </form>
  </div>
</div>
